<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ebfd1">  <td>13/12/05 19:35:49</td>   <td>0</td> <td title="&gt;&gt;TestBaseWeb.checkSuiteSkip()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:35:50</td>   <td>1016</td> <td>&nbsp;</td><td title="&gt;&gt;BAT_Web.checkTestSkip()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&gt;&gt;checkTestSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:35:50</td>   <td>1031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BAT_Web.BAT_Web_bs(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">BAT_Web_bs</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:02</td>   <td>132818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportDataSetResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:02</td>   <td>133196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BAT_Web.BAT_Web_bs(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">BAT_Web_bs</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:02</td>   <td>133198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportDataSetResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BAT_Web.BAT_Web_bs(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">BAT_Web_bs</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportDataSetResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BAT_Web.BAT_Web_bs(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">BAT_Web_bs</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportDataSetResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BAT_Web.BAT_Web_bs(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">BAT_Web_bs</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportDataSetResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="b983ee">  <td>13/12/05 19:38:03</td>   <td>133613</td> <td>&nbsp;</td><td title="&lt;&lt;BAT_Web.reportTestResult()[pri:0, instance:com.AA.AA_Web.BAT_Web@519fbfd6]">&lt;&lt;reportTestResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
</table>
